---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<!--Navbar-->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
      <img 
          src="img/logo-no-background.svg" 
          alt="JenniNick-Web-Dev"
          width="100"
          height="100"
          />

      <h1 class="text-light p-3">Jenni Nicholson</h1>
      <button
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navmenu"
          >
          <span class="navbar-toggler-icon bg-dark"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
       <ul class="navbar-nav ms-auto">
           <li class="nav-item">
              <a href="#About-Me" class="nav-link text-light">About Me</a>
           </li>
          <li class="nav-item">
           <a href="#My-Work" class="nav-link text-light">My Work</a>
          </li>
       </ul>
      </div>        
  </div>
</nav>